<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Formulario Cliente</title>
</head>
<body>
<h1>Formulario de Cliente</h1>
<form th:action="@{/vista/clientes/guardar}" th:object="${cliente}" method="post">

    <label>DPI:</label>
    <input type="text" th:field="*{DPICliente}" required />
    <br>

    <label>Nombre:</label>
    <input type="text" th:field="*{nombreCliente}" required />
    <br>

    <label>Apellido:</label>
    <input type="text" th:field="*{apellidoCliente}" required />
    <br>

    <label>Dirección:</label>
    <input type="text" th:field="*{direccion}" />
    <br>

    <label>Estado:</label>
    <input type="number" th:field="*{estado}" />
    <br><br>

    <button type="submit">Guardar</button>
    <a href="/vista/clientes">Cancelar</a>
</form>
</body>
</html>