<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/Style.css}">

</head>
<body>
<h2>Iniciar Sesión</h2>

<div th:if="${param.registered}" style="color:green">
    Registro exitoso. Por favor inicia sesión.
</div>
<div th:if="${param.logout}" style="color:blue">
    Sesión cerrada exitosamente.
</div>
<div th:if="${param.error}" style="color:red">
    Usuario o contraseña incorrectos.
</div>

<form method="post" th:action="@{/login}">
    <div>
        <label>Email:</label>
        <input type="text" name="username" required>
    </div>
    <div>
        <label>Contraseña:</label>
        <input type="password" name="password" required>
    </div>
    <button type="submit">Ingresar</button>
</form>
<a href="/register">Registrarse</a>
</body>
</html>