<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Formulario Venta</title>
</head>
<body>
<h1>Formulario de Venta</h1>
<form th:action="@{/vista/ventas/guardar}" th:object="${venta}" method="post">

    <label>Código:</label>
    <input type="number" th:field="*{codigoVenta}" required />
    <br>

    <label>Fecha:</label>
    <input type="date" th:field="*{fechaVenta}" required />
    <br>

    <label>Total:</label>
    <input type="number" step="0.01" th:field="*{total}" required />
    <br>

    <label>Estado:</label>
    <input type="number" th:field="*{estado}" />
    <br><br>

    <button type="submit">Guardar</button>
    <a href="/vista/ventas">Cancelar</a>
</form>
</body>
</html>